<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="vini_servicesWoo.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="vini_servicesWoo.My.MySettings.MyCS" connectionString="Provider=SQLOLEDB.1;Data Source=BUREAU-DELL\SQLEXPRESS;Initial Catalog=vnc5;Persist Security Info=True;User ID=vinicom;Password=vinicom" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
    </startup>
    <applicationSettings>
        <vini_servicesWoo.My.MySettings>
            <setting name="wooFTPHost" serializeAs="String">
                <value>ftp.cluster002.hosting.ovh.net</value>
            </setting>
            <setting name="wooFTPUser" serializeAs="String">
                <value>vinicomwgs-gestcom</value>
            </setting>
            <setting name="wooFTPPwd" serializeAs="String">
                <value>EdcRfv11</value>
            </setting>
            <setting name="wooFTPRepLocal" serializeAs="String">
                <value>C:\Users\COLLIN\Documents\NEWCO\vinicom\V6\GestcomNew\vini_app\bin\Debug\importinternet\vinicom.wine</value>
            </setting>
            <setting name="wooFTPRepDistant" serializeAs="String">
                <value>TEST/Orders</value>
            </setting>
            <setting name="wooIntervalleSecondes" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="wooLog" serializeAs="String">
                <value>C:\Users\COLLIN\Documents\NEWCO\vinicom\V6\GestcomNew\vini_app\bin\Debug\LOGS\importWoo.xml</value>
            </setting>
        </vini_servicesWoo.My.MySettings>
    </applicationSettings>
</configuration>